@charset "UTF=8";

/*TODAS AS DEMAIS MIDIAS*/

/*TYPICAL DEVICE BreakPoints
----------------------------
Pequenas telas: ate 600px
CELULAR: de 600px ate 728px
TABLET: 768px ate 992px
DESKTOP: 992px ate 1200px
Grandes telas: acima de 1200px
*/


@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url(../imagens/back-print.jpg);
    }

    main{
        width: 90vh;
        border: 2px solid black;
    }

    main::after{
        content: 'Essa impressa foi feita atraves do site www.cursoemvideo.com.br';
        text-decoration: overline;
        

    }

    main h1{
        text-shadow: none;
        color: black;
    }
    img#celular{display: none;}
    img#tablet{display: none;}
    img#impressora{display: block;}
    img#pc{display: none;}
    img#tela{display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#celular{display: none;}
    img#tablet{display: block;}
    img#impressora{display: none;}
    img#pc{display: none;}
    img#tela{display: none;}

}

@media screen and (min-width:992px) and (max-width: 1200px){
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#celular{display: none;}
    img#tablet{display: none;}
    img#impressora{display: none;}
    img#pc{display: block;}
    img#tela{display: none;}

}


@media screen and (min-width: 1200px){
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#celular{display: none;}
    img#tablet{display: none;}
    img#impressora{display: none;}
    img#pc{display: none;}
    img#tela{display: block;}

}